* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background-light);
  color: var(--text-dark);
}

header {
  background: #4f684c;
  color: white;
}

header h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3.5rem;
}

header p {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

.navbar {
  background: #4f684c;
  color: white
}

.navbar a {
  color:white;
}
.navbar a:hover {
  color: #9cd196;
}

.features {
  padding: 70px 0;
  text-align: center;
}

.features-grid {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.features-item {
  flex: 1;
  padding: 20px;
  position: relative;
  
}
